@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Montserrat+Subrayada&display=swap');

:root{
    --Jet-Darker: #26252D;
    --Jet-Dark: #32303B;
    --Jet: #3E3C49;
    --Jet-Light: #565365;
    --Jet-Lighter: #6D6A81;

    --RobinEggBlue-Darker:  #22ACB9;
    --RobinEggBlue-Dark:  #35CCD9;
    --RobinEggBlue:  #5ED6E1;
    --RobinEggBlue-Light:  #8BE1E9;
    --RobinEggBlue-Lighter:  #B6ECF1;

    --SchoolBusYellow-Darker: #948405;
    --SchoolBusYellow-Dark: #C6B006;
    --SchoolBusYellow: #F7DC09;
    --SchoolBusYellow-Light: #F9E339;
    --SchoolBusYellow-Lighter: #FAEA6B;

    --RustyRed-Darker: #8D2028;
    --RustyRed-Dark: #B72A33;
    --RustyRed: #D33F49;
    --RustyRed-Light: #DD6A71;
    --RustyRed-Lighter: #E69399;

    --WhiteSmoke-Darker: #BFBFBF;
    --WhiteSmoke-Dark: #D9D9D9;
    --WhiteSmoke: #F2F2F2;
    --WhiteSmoke-Light: #F7F7F7;
    --WhiteSmoke-Lighter: #FCFCFC;
}


body{
    background-color: var(--WhiteSmoke);
}

h1{
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h2{
    font-family: Montserrat Alternates;
    font-size: 35px; 
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h3{
    font-family: Montserrat Alternates;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h4{
    font-family: Montserrat Alternates;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h5{
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h6{
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p{
    color: var(--Jet);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}

button{
    width: 176px;
    height: 50px; 
    border-radius: 15px; 
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}