@import url(main.css);

body{
    margin: 0 auto;
}

main{
    margin-bottom: 100px;
}
.contact__Hero{
    position: relative;
}

.contact__Hero > img{
    z-index: 10;
    width: 100%;
    height: 550px;
}

.contact__HeroText{
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact__HeroText > h1{
    color: var(--WhiteSmoke);
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

label{
    font-family: Montserrat Subrayada;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 15px 0;
}

input, textarea{
    background-color: var(--WhiteSmoke-Dark, #D9D9D9);
    width: 100%;
    border: none;
    height: 30px;
}

.contact__Form button{
    background-color: var(--WhiteSmoke-Dark, #D9D9D9);
    padding: 10px 40px;
    border: none;
    width: fit-content;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}


textarea{
    height: 130px;
}

@media screen and (max-width:900px) {
    form{
        width: 100%;
    }

    .contact__Hero > img{
        height: 450px;
    }   
}