@import url(main.css);

body {
    margin: 0 auto;
}

main{
    margin-bottom: 50px;
}

.product__Info {
    display: flex;
    justify-content: space-between;
}

.product__Info img {
    width: 50%;
}

.product__InfoItem {
    width: 45%;
    max-width: 49%;
}

.product__InfoItemBasket {
    display: flex;
    align-items: center;
}

.product__InfoItemBasket h6 {
    margin: 0 30px 0 0;
}

input {
    background-color: var(--WhiteSmoke-Darker);
    border: none;
    color: var(--Jet);
    width: 65px;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
}

button {
    margin-top: 50px;
    background-color: var(--WhiteSmoke-Darker);
    border: none;
    min-width: fit-content;
    padding: 0 15px;
}

.material-symbols-outlined {
    color: var(--Jet);
    font-variation-settings:
        'FILL'0,
        'wght'900,
        'GRAD'0,
        'opsz'16
}

.products__Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    gap: 30px;
}

.products__Grid a {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    max-height: 100%;
    /* margin: 10px 30px; */
    text-decoration: none;
}

/* .products__Grid a:first-of-type {
    margin-left: 0;
    margin-right: 30px;
} */

.products__GridProduct {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.products__GridProduct img {
    object-fit: cover;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
}

.products__GridProductInfoPrice {
    display: flex;
    justify-content: space-between;
}

.products__GridProductInfoPrice p {
    margin-top: 0;
}

h4 {
    margin: 5px 0 0 0;
}

.products__GridProductInfoPrice button {
    background-color: transparent;
    border: none;
    padding: 0 0;
    margin: 0 0;
    width: fit-content;
    height: fit-content;
}

main button {
    background-color: var(--RustyRed);
    color: var(--WhiteSmoke);
    border: none;
    margin: 100px 0;
}

@media screen and (max-width: 900px) {
    .product__Info{
        flex-direction: column-reverse;
    }

    .product__Info img{
        width: 100%;
    }

    .product__InfoItem{
        width: 100%;
        max-width: 100%;
    }

    .product__InfoItemBasket{
        margin-top: 50px;
    }

    button{
        margin: 50px 0;
    }

    .products__Grid a {
        max-width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .products__GridProduct img {
        width: 100%;
        height: 100%;
    }

    .products__GridProduct {
        width: 95%;
    }

    h4 {
        margin: 5px 0;
    }

    .products__GridProductInfoPrice p {
        font-size: 20px;
    }

    /* .products__Grid a:first-of-type {
        margin-left: 30px;
        margin-right: 30px;
    } */
}

@media screen and (max-width: 650px) {
    .products__GridProduct {
        width: 100%;
    }
}